#.gitignore
# Created Mon November 20, 2018
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore.
#
.gitignore
agile/
adt/
autotools/
aws/
compilers/
create/
devops/
eclipse/
editors/
gnu/
headers/
lang/
lib/
logging/
make/
os/
pkg-config/
postman/
